src/main/mule/implementation/get-by-national-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	
	 <flow name="get:\cases\(nationalID):uhub-sapi-config">
		<db:select doc:name="Select" doc:id="06d99d01-9da3-4ca9-b97b-1ae54c98e895" config-ref="Database_Config">
			<db:sql ><![CDATA[select source,caseType, firstName, lastName, phone, email, 
		    dateOfBirth,nationalid, nationalidType, address_streetAddress,address_city,
			address_state, address_postal, address_country 
            from register_covid_case  where nationalid = :nationalid]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	nationalid: attributes.uriParams.nationalID
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="872adddc-dcd8-4993-b46b-66ab8d85c18a" >
			<when expression="#[sizeOf(payload)&gt;0]">
				<ee:transform doc:name="Record found" doc:id="32bb308e-e197-486d-a804-60b1f076c7aa">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map(covid, indexOfCovid) -> {
	source: covid.source,
	caseType: covid.caseType,
	firstname: covid.firstName,
	lastname: covid.lastName,
	phone: covid.phone,
	email: covid.email,
	dateofbirth: covid.dateOfBirth,
	nationalid: covid.nationalID,
	nationalidtype: covid.nationalIDType,
	country: covid.address_country,
	streetAddress: covid.address_streetAddress,
	city: covid.address_city,
	state: covid.address_state,
	postal: covid.address_postal
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="No record found" doc:id="caec692d-1d3f-43e8-a2ee-b8d82e7316dc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "sorry but we couldn't find any record based on your national id"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
		<error-handler ref="global-errorError_Handler" />
    </flow>
	</mule>
